<a href="https://colab.research.google.com/github/HeiliE19/edd_1310_2021/blob/main/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico
`'escuela = Fes Aragón'`

In [ ]:
escuela = 'FES Aragón'
print(escuela)
print('--------')
edad = 13 
estatura = 1.67
fumador = True
frase = """
Esta es
una 
frase
de múltiples líneas
y también es
un tipo de dato
"""
print(frase)

nombre = 'José'
nombre_completo = 'José Sosa Cárdenas'
# el _ se le llama snake case

FES Aragón
--------

Esta es
una
frase
de múltiples líneas
y también es
un tipo de dato

#print 
lo puedes usar 
con comas, 
con signo +
con format()
con el operador f""

In [ ]:
#Agrega un espacio a las variables
print(nombre , edad)

José 13

In [ ]:
#El + Concatena
print(nombre + str(edad))
print(nombre + nombre_completo)

José13
JoséJosé Sosa Cárdenas

In [ ]:
# con formato ---> Su nombre es José y su edad es de 13 años.
print("Su nombre es",nombre,"y su edad es de",edad,"años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es José y su edad es de 13 años.
Su nombre es José y su edad es de 13 años.
Su nombre es 13 y su edad es de José años.

In [ ]:
# con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")
print(f"Su nombre es \"{nombre}"\ y su edad es de {edad} años.")

Su nombre es José y su edad es de 13 años.

# Carácter de escape
\n salto de línea

\t tabulador

\a beep

\" imprimir comilla doble

\' imprimir comilla simple

In [ ]:
"""
Esto es 
un comentario
de múltiple línea
tan tan
"""
print(f"\tMi nombre es \n\t\t {nombre} ")

	Mi nombre es
		 José

#Ayuda de tipos de dato en python
dir() help()

In [ ]:
#str, int, float, bool... list, dict set
help(str)

In [ ]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end=" ------ ")
print(nombre_completo.title())

José sosa cárdenas
JOSÉ SOSA CÁRDENAS------ José Sosa Cárdenas

In [ ]:
help(print)

#clase String
Es manejada como una rreglo(c o java) o lista (python) 
`telefono = "Huawei mate 30 pro"`

In [ ]:
telefono = "Huawei mate 30 pro"
print(telefono[5]) #para imprimir la "i"

i

#Slicing (rebanado)
[inicio: stop: incremento]
nota: el stop no se incluye, termina en el valor anterior al stop

In [ ]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales

#para imprimir desde Huawei mate:
print(telefono[:11:])

#el valor por defecto de stop es len(str)
print(telefono[::])

#incremento negativo
print(telefono[::-1])
#Empieza de -3 ( "p",r,o) hasta el final
ini = -3
inc = 1
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# métodos de string (str)
Existen métodos muy útiles en esta clase.

In [ ]:
facultad = "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("u")) #cuenta el número de elementos en la cadena
print(facultad.find("s")) #encuentra la posición del elemento
print(facultad.index("s"))
print(facultad.strip()) #elimina espacios en blanco (al inicio y final), evita salto de linea
tamaño = len(facultad)
print(len(facultad)) #len regresa longitud del string
print(f"El tamaño de la cadena es {tamaño} caracteres")
print(facultad.lstrip()) #remueve espacios de la izquierda
print(facultad.rstrip()) #remueve espacios de la derecha

print (facultad)
print(facultad.split("t"))
print(facultad.strip().split(" ")) #strip para quitar los espacios seguidos
#split para quitar el elemento deseado

print('--------------------')
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES Aragón"
print(facultad)
print(otra_cadena)

print("--------")
# copiar listas
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
17
facultad de estudios superiores aragon
49
El tamaño de la cadena es 49 caracteres
facultad de estudios superiores aragon

    facultad de estudios superiores aragon
    facultad de estudios superiores aragon

['    facul', 'ad de es', 'udios superiores aragon      \n']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
--------------------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragón
--------
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']