<a href="https://colab.research.google.com/github/HeiliE19/edd_1310_2021/blob/main/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# String continuación

numeros_txt = "   1, 2, 3, 4  , 5  , 35  , 15, 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')  #lstrip quitar espacios a la izq
#split(',') para separar por comas
print(numeros_txt)

#quitar los espacios y convertirlos a enteros
for j in range(len(numeros_txt)): #j va de 0 al tamaño de los elementos (7)
  numeros_txt[j] = int(numeros_txt[j].strip()) #int convierte a enteros, strip quita espacios

print(numeros_txt)

#funcion range
#range(inicio, stop, incremento)
print(range(0,10,1))

rango=range(1,2,10)
for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1, 2, 3, 4  , 5  , 35  , 15, 12
['1', ' 2', ' 3', ' 4  ', ' 5  ', ' 35  ', ' 15', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10)
1
0
1
2
3
4
5
6
7
8
9

#listas
- mutables
- se declaran con []
- selector [ int ] 

#tuplas
- NO mutables
- declaran con ( )
- selector [ int ]

#diccionarios
- Son mutables
- Son conjunto de pares llave: valor
- Equivalentes a los Objetos JSON de JavaScript

#conjuntos
- representación de la teoría de conjuntos

In [ ]:
# Listas (Equivalentes a arreglos en otros lenguajes de programación)
frutas = [ "Pera", "Manzana", "fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["cuaderno",2,3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)

frutas[2]="Fresa" 
print(frutas)
#frutas[2].capitalize()
frutas[2] = frutas[2].capitalize()
print(frutas)

#Agregar dato a lista
frutas.append("Aguacate")  #append manda el dato al final
print(frutas)
frutas.insert(2,"Sandía") #insert (posición, dato)
print(frutas)

#concatenar listas
fecha = ["06","10","2020"] # 06/10/2020
print(fecha)
"/".join(fecha)  #Sirve para concatenar con una lista
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandía', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [ ]:
# eliminar elementos
cosas = ["cuaderno",2,3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lápiz")
print (cosas)
algo = cosas.pop()  #almacena lo que eliminé
print(cosas)
print(algo) #imprime el dato eliminado

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

# vaciar una lista
cosas.clear()
print(cosas)

# ordenar las listas
print(frutas)
frutas.sort()   #organiza alfabeticamente
print(frutas)

#cosas.sort()    los datos deben tener congruencia entre ellos para poder ser ordenados
#print (cosas)

#Se modifica la lista

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lápiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lápiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']

In [ ]:
#Slicing

cosas = ["cuaderno",2,3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1]) #te regresa lo que seleccionas pero no modifica

print(cosas)
print(cosas[0][3:5:1])  #imprimir "de" de la palabra "cuaderno"

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:1])
print(numeros[0:16:2])

# sustituir rebanadas -2,-2 -->
numeros[8:13:1] = [-2,-2]
print(numeros)

# preguntar por existencia
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#listas multi dimensión
listas dentro de listas

In [ ]:
computadoras = ["HP", "Mac Book Pro 17", "Mate book", "Lenovo legion"]
oss = [ "Windows 10", "Linux","Android","iOS"]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2]) #mostrar Mate book
print(computo[0][2][0:5]) #mostrar Mate
print(computo[0][3][5::-1])   #mostrar Lenovo al revés, se omite el 0 para que imprima todo
print(computo[0][3][-8::-1])
print ("Linux" in computo[1])

dbms = [["MySQL","Open Source", False],["MS SQL Server","de paga",True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0]) #imprimir "MySQL"
print(computo[2][1][1]) #imprimir "de paga"

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['MySQL', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
MySQL
de paga

In [ ]:
help(list)
#cuando un dato no es obligatorio aparece entre corchetes [], (index,"") o ([index],"")